/*CSS PAGINA PRINCIPAL*/

body{
  	font-family: "montserrat",sans-serif;
  	margin: 0;
	padding: 0;
	background: white;
	color: dimgray;
}

tr:nth-child(even) {
 	background-color: #dddd !important;
}

#site{
	background-color: #34495e;
}


#topo{
	background-color: black;
	height: 8%;
	width: 100%;
	display: flex;
	justify-content: space-around; 
}

a{
	font-family: "Courier New", Courier, Monospace;
	text-decoration: none;
}

#logo img{ 
	margin-left: 20%; 
	margin-top: 5%;
}

#icones{
	margin-top:60px;
	margin-left:40%; 
	border:solid white; 
}

.search-box{
	position: absolute;
	margin-top: 3.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #2f3649;
	height: 60px;
	border-radius: 40px;
	padding: 10px;
}

.search-box:hover > .search-txt{
	width: 360px;
	padding: 0 6px;
}

.search-box:hover > .search-btn{
	background-color: white;
}

.search-btn{
	color: #00b5cc;
	margin-top: -10px;
	margin-right: -10px;
	float: right;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 20px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
	height: 50px;
}

.icons-btn{
	font-size: 250%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 300px;
}

/*Slide bar lateral*/

.fixo{
  position: fixed;
  top: auto;
  z-index: 99999;
  left: 0;
}


.opição{
  cursor: pointer;
  position: relative;
}
.opição a{
  color: white;
} 
.opição i{
  display: block;
  width: 60px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background: #f1f1f1;
  color: #b9b9b9;
  font-size: 18px;
  transition: 0.6s;
}

.opição:hover i{
  color: #3498db;
}
.desc{
  position: absolute;
  height: 60px;
  width: 250px;
  background: #1b1b1b;
  top: 0;
  z-index: -1;
  left: -190px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  transition: 0.6s;
}

.opição:hover .desc{
  left: 60px;
}

/*Conteudo central*/




/*Inicio rodape*/

#rodape{
	background-color:black;
	color: gray;
  	width: 100%;
  	margin-left: 0%;
}

#rodape div{
	margin-top: 20px;
}

#adms a{
	color: grey;
}

#adms{
	margin-left: 3%;
}

#sobre{
	border-left: 1.4px solid;
	border-right: 1.4px solid;
	margin-bottom: 1%;	
}

#social{
	font-size: 300%;
	margin-left: 5%;
}

#social a{
	margin-left: 10%;

}

#social i{
  margin-left: 3%;
}

/*CSS CADASTRO*/

.box{
	width: 100%; 
	padding: 40px 40px 40px 0px;
	transform: translate(0%, 0%);
	background: /*#f2f2f2*/ white;
	text-align: justify;
	color: black;
}

.box input[type = "text"], .box input[type = "password"], .box input[type = "date"], .box input[type = "money"], .box input[type = "file"], .box input[type = "number"], .box select, .box textarea{
	border: 0;
	background: white;
	color: black;
	/*margin: 20px auto;*/
	text-align: center;
	border: 2px solid #3498db; 
	padding: 14px 10px;
	width: 250px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus, .box input[type = "money"]:focus, .box input[type = "file"]:focus, .box input[type = "date"]:focus, .box input[type = "number"]:focus, .box select:focus, .box textarea:focus{
	width: 280px;
	border-color: #2ecc71;
}

.box h1{
	color: black;
	text-transform: uppercase;
	font-weight: 500;

}

.box input[type = "submit"]{
		border: 0;
		background: #3498db;
		display: block;
		margin: 20px 8%;
		text-align: center;
		border: 2px solid #3498db;
		padding: 14px 40px;
		outline: none;
		color: black;
		border-radius: 24px;
		transition: 0.25s;
		cursor: pointer;
}

.box input[type = "submit"]:hover{
	background: #2ecc71;
	border: 2px solid #2ecc71;
}

/*Produtos*/

.fileira{
  background: #3498db;
  padding: 40px 0;
}

.produtos{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.fileira h1{
  text-align: center;
  color: #333;
  font-size: 24px;
}

.itens{
  background: white;
  padding: 40px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  height: 250px;
}

.foto-p{
  width: 200px !important;
  margin-left: 35px;
  margin-right: auto;
  margin-top: 100px;
}

.foto{
  font-size: 12px;
  color: #333;
}

.foto span{
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #3498db;
}

.info{
  display: flex;
  height: 60px;
  align-items: center;
  font-size: 70px;
  margin-left: -20px;
}

.itens p{
  font-size: 20px;
  line-height: 22px;
  margin-top: 35px;
  margin-left: -20px;
}

/*Carrinho*/

.Carrinho input[type = "submit"]{
		border: 0;
		background: #3498db;
		display: block;
		margin: 20px 8%;
		text-align: center;
		border: 2px solid #3498db;
		padding: 14px 40px;
		outline: none;
		color: black;
		border-radius: 24px;
		transition: 0.25s;
		cursor: pointer;
}

.box input[type = "submit"]:hover{
	background: #2ecc71;
	border: 2px solid #2ecc71;
}