body{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  background: #333;
}

#site{
	background-color: #34495e;
}


#topo{
	background-color: black;
	height: 8%;

}

#logo img{
	margin-left:35%;
	margin-top: 8%;
	margin-bottom: 4%;
	width: 45%;  
	height: 9%;
}

#icones{
	margin-top:60px;
	margin-left:40%; 
	border:solid white; 
}

#meio{
	background-color: #3498db;
}

#meio a{
	font-size:30%;
	color:black;
}

#conteudo div{
	border:ridge;
	border-color:#DCDCDC;
	margin-left:2%;
	background-color:white; 
}

.search-box{
	position: absolute;
	margin-top: -3%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #2f3649;
	height: 60px;
	border-radius: 40px;
	padding: 10px;
}

.search-box:hover > .search-txt{
	width: 360px;
	padding: 0 6px;
}

.search-box:hover > .search-btn{
	background-color: white;
}

.search-btn{
	color: #00b5cc;
	margin-top: -10px;
	margin-right: -10px;
	float: right;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 20px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
	height: 50px;
}

.icons-btn{
	margin-left: 75%;
	font-size: 250%;
	margin-top: -5%;
	margin-bottom: 4%;
}

.icons-car{
	margin-left: 10%;
}


#myCarousel{
	width:80%;
	margin-left:11%; 
	background-color: gainsboro; 
}

#myCarousel img{
	width:225px;
	height:225px;
	margin-left:auto;
	margin-right:auto;   
}
#conteudo{
	margin-top:15px;
	margin-left:13%; 

}

#conteudo img{
	margin-top:3%; 
	width:225px;
	height:225px;
	background-color:black; 
}

#rodape{
	background-color:black;
	color: gray;
  width: 101.1%;
}

#rodape div{
	margin-top: 20px;
}

#adms a{
	color: grey;
}

#adms{
	margin-left: 3%;
}

#sobre{
	border-left: solid;
	border-right: solid;	
}

#social{
	font-size: 300%;
	margin-left: 5%;
}

#social a{
	margin-left: 10%;

}

#social i{
  margin-left: 3%;
}

.border{
  width: 100px;
  height: 3px;
  background: #333;
  margin: 20px auto;
}

.fileira{
  background: #3498db;
  padding: 40px 0;
}

.produtos{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.fileira h1{
  text-align: center;
  color: #333;
  font-size: 24px;
}

.itens{
  background: white;
  padding: 40px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  height: 250px;
}

.foto-p{
  width: 200px !important;
  margin-left: 35px;
  margin-right: auto;
  margin-top: 100px;
}

.foto{
  font-size: 12px;
  color: #333;
}

.foto span{
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #3498db;
}

.info{
  display: flex;
  height: 60px;
  align-items: center;
  font-size: 70px;
  margin-left: -20px;
}

.itens p{
  font-size: 20px;
  line-height: 22px;
  margin-top: 35px;
  margin-left: -20px;
}

.fixo{
  position: fixed;
  top: 40%;
  z-index: 99999;
  left: 0;
}


.opição{
  cursor: pointer;
  position: relative;
}
.opição a{
  color: white;
} 
.opição i{
  display: block;
  width: 60px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background: #f1f1f1;
  color: #b9b9b9;
  font-size: 20px;
  transition: 0.6s;
}

.opição:hover i{
  color: #3498db;
}
.desc{
  position: absolute;
  height: 60px;
  width: 200px;
  background: #1b1b1b;
  top: 0;
  z-index: -1;
  left: -140px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  transition: 0.6s;
}

.opição:hover .desc{
  left: 60px;
}

.contato{
  color: white;
  font-size: 24px;
  background: #2f3640;
  border-bottom: dotted black;
  border-top: dotted #3498db;
  text-align: center;
}

.contato h1{
  text-align: center;
  color: white;
  font-size: 24px;
}

.contato input[type = "text"]{
  font-size: 20px;
  border: 0;
  background: black;
  margin: 20px auto;
  margin-top: -10px;
  border: 2px solid #3498db; 
  padding: 14px 10px;
  width: 200px;
  height: 45px;
  outline: none;
  color: white;
  border-radius: 35px;
  transition: 0.30s;
}

.contato textarea{
  font-size: 20px;
  border: 0;
  background: black;
  display: block;
  margin: 20px auto;
  margin-top: -10px;
  border: 2px solid #3498db; 
  padding: 14px 10px;
  width: 400px;
  height: 70px;
  outline: none;
  color: white;
  border-radius: 10px;
  transition: 0.36s;
}

.contato input[type = "text"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.contato textarea:focus{
  width: 400px;
  border-color: #2ecc71;
}

.campo input[type = "submit"]{
    border: 0;
    background: black;
    display: block;
    margin: 15px auto;
    margin-top: -15px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 35px;
    transition: 0.25s;
    cursor: pointer;
}

.campo input[type = "submit"]:hover{
  background: #2ecc71;
}