#rodape{
	background-color:black;
	color: gray;
  width: 101.1%;
}

#rodape div{
	margin-top: 20px;
}

#adms a{
	color: grey;
}

#adms{
	margin-left: 3%;
}

#sobre{
	border-left: solid;
	border-right: solid;	
}

#social{
	font-size: 300%;
	margin-left: 5%;
}

#social a{
	margin-left: 10%;

}